<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mini Profiler Test" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="<%= @turbo %>">
    <nav>
      <p>With turbo enabled - Failing</p>
      <ul>
        <li><%= link_to "one", static_one_path %></li>
        <li><%= link_to "two", static_two_path %></li>
        <li><%= link_to "three", static_three_path %></li>
        <li><%= link_to "four", static_four_path %></li>
      </ul>
    </nav>

    <nav>
      <p>With turbo disabled - Working</p>
      <ul>
        <li><%= link_to "one", static_one_path, data: { turbo: false } %></li>
        <li><%= link_to "two", static_two_path, data: { turbo: false } %></li>
        <li><%= link_to "three", static_three_path, data: { turbo: false } %></li>
        <li><%= link_to "four", static_four_path, data: { turbo: false } %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
  <% console %>
</html>
